body {
  background-color: black;
}

h2 {
  color: white;
  font-family: 'Alkatra', cursive;
  font-size: 3rem;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  margin-bottom: 0;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 33.33%;
  flex-basis: 25%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.seco {
  flex-basis: 50%;
}

a {
  text-decoration: none;
}

.footer-link {
  display: inline-block;
  color: white;
  margin: 0 0.2rem 0.4rem;
}

.foot {
  margin-top: 3rem;
  color: #EEEEEE;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

.abc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clickme {
  display: none;
  animation: animatezoom 0.5s infinite;
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.aaa {
  background-image: linear-gradient(-225deg,
      #337CCF 0%,
      #279EFF 29%,
      #40F8FF 67%,
      #525FE1 100%);
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.45rem;
  }

  .row {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 9rem;
  }

  .column {
    flex: 33.33%;
    flex-basis: 25%;
    padding: 5px;
    text-align: center;
  }

  .seco {
    flex-basis: 50%;
  }

  .arrrow {
    width: 100%;
    height: auto;
  }

  .og {
    display: none;
  }

  .clickme {
    display: block;
    width: 45%;
    height: auto;
  }
}
